<!DOCTYPE html>

<html lang="nl">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Qien admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src=js/script.js></script>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><a href="dashboard"><img src="images/logo.svg" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-lg dropdown-toggle" data-toggle= "dropdown">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button> <ul class = "dropdown-menu">
                    <li><a href="dashboard">Home</a></li>
                    <li><a href="manageuser.html">Personeel</a></li>
                    <li><a href="#">Bedrijven</a></li>
                    <li><a href="#">Instellingen</a></li>
                    <li><form action="/uren/logout">
                        <input  type="submit" value="Logout"/></form></li>
                </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<br>

<div id="welcome">
    <div th:if="${#httpServletRequest.remoteUser != null}">
        <p th:text="${#httpServletRequest.remoteUser}"></p>
    </div>

<h2>Personeel toevoegen</h2>
<div id="test"></div><table id="ajax"></table>

<form action="" name="createuserform" id= "useradd"  onsubmit="return false">
    Voornaam: <br>
    <input id="firstname" type="text" name="firstname"required ><br>

    Achternaam: <br>
    <input id="lastname" type="text" name="lastname"required ><br>

    Email: <br>
    <input id="email" type="text" name="email"required ><br>

    Email bevestigen: <br>
    <input id="email1" type="text" name="email1" required ><br>

    <input type="submit" class = registerbtn onclick="createUserExample();" value="Submit">
</form>
</body>
</html>