<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Qien admin</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src=js/script.js></script>
    <script src="js/UrenRegistraties.js"></script>
    <script src="js/timesheet.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!--<link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Dashboard</title>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand"><a href="dashboard"><img src="images/logo.svg" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-lg dropdown-toggle" data-toggle= "dropdown">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button> <ul class = "dropdown-menu">
                    <li><a href="dashboard">Home</a></li>
                <li><a href="manageuser.html">Personeel</a></li>
                <li><a href="#">Bedrijven</a></li>
                <li><a href="#">Instellingen</a></li>
                    <li><form action="/uren/logout">
                        <input  type="submit" value="Logout"/></form></li>
                </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<br>

<div id="welcome">
    <div th:if="${#httpServletRequest.remoteUser != null}">
        <p th:text="${#httpServletRequest.remoteUser}"></p>
    </div>
    <p th:text="${timesheet.getState()}"></p>

<div class="container">
<h2>Overzicht</h2>

<table class="table table-striped" id="taskOverview">
    <tr><th>Jaar & Maand</th><th>Opdracht</th><th>Status</th></tr>
</table>

<table  class=" table table-striped monthTable" id="2018-8"></table>
<br>
<div>
    <button id='btn' onclick="window.location.href='urendeclaratieformulier.html'">Naar Urendeclaratieformulier</button>
</div>
</div>
</body>
</html>
