<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Qien inlog</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src=js/script.js></script>
</head>
<body>
<div id="inlog">
    <img src="images/Qien_logo_networkgraphics.png" alt="Qien_logo" style="border:0;width:153px;height:213px;display:block;margin-left:auto;margin-right:auto">
    <br>
    <p> Welkom bij de Urenregistratiepagina van Qien!</p>
    <p> Gebruik uw e-mailadres en wachtwoord om in te loggen.</p>
    <br>
    <br>
    <h2>Inloggen</h2>
    <br>
    <div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        E-mailadres: <br>
        <input id="email" type="text" name="email" th:placeholder="Email" class="form-control"><br>
        Wachtwoord: <br>
        <input id="password" th:placeholder="Password" type="password" name="password" class="form-control"><br>
        <br>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="registerbtn" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
    </div>
</div>
</body>
</html>
