<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./js/showTimesheetToCostumer.js"></script>
    <script>
        var timesheetId = [[${timesheet.getId()}]];
        var customerKey = [[${timesheet.getCustomerKey()}]];
        getMonth(timesheetId)
    </script>
    <meta charset="UTF-8">
    <title>Timesheet</title>
</head>
<body>

Dit is YearMonth via Thymeleaf: <p style="display:inline" th:text="${timesheet.getMonth()}"></p>
<br>
Dit is YearMonth via Javascript: <p style="display:inline" id="yearMonth"></p>
<br>
Urenoverzicht van Augustus 2018 voor medewerker: Ben V.

<table id="timesheetTable">
    <tr>
        <th></th>
        <th>Opdracht</th>
        <th>Overwerk</th>
        <th>Verlof</th>
        <th>Ziek</th>
        <th>Training</th>
        <th>Overig</th>
        <th>Verklaring overig</th>
    </tr>
    <tr>
        <td>1</td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
    </tr>
</table>

<!--
Endpoint moet worden aangesproken
Knoppen moeten alleen enabled zijn als de status van de timesheet "PENDING" is.
 -->
<button onclick='approveTimesheet("8" ,"U4DWKM3VGz!Ot^rc\t")'>Akkoord</button>
<button onclick='rejectTimesheet("8")'>Niet akkoord</button>


<p th:text="${timesheet}"></p>
</body>
</html>


