<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/showTimesheetToCostumer.js"></script>
    <script>getMonth(8)</script>
    <meta charset="UTF-8">
    <title>Timesheet</title>
</head>
<body>

Dit is YearMonth via thymeleaf: <p th:text="${timesheet.getMonth()}"></p>

Urenoverzicht van Augustus 2018 voor medewerker: Ben V.

Dit is YearMonth via javascript: <div id="yearMonth"></div>

<table id="timesheetTable">
    <tr>
        <th></th>
        <th>Opdracht</th>
        <th>Overwerk</th>
        <th>Verlof</th>
        <th>Ziek</th>
        <th>Training</th>
        <th>Overig</th>
        <th>Verklaring overig</th>
    </tr>
    <tr>
        <td>1</td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
    </tr>
</table>

<!--
Endpoint moet worden aangesproken
Knoppen moeten alleen enabled zijn als de status van de timesheet "PENDING" is.
 -->
<button>Akkoord</button>
<button>Niet akkoord</button>

<p th:text="${timesheet}"></p>
</body>
</html>


