html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover, .dropbtn {
    color: white;
    background-color: #A34AFE;
}

li.dropdown {
    display: inline-block;
}

h1, h2 {
     color: #A34AFE;
}

div.dropdown {
    height: 47px;
    width: 137px;
}

#hamburger {
    right: 9px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#btn {
    color: #666;
    padding: 14px 16px;
}
#btn:hover {
    color: white;
    background-color: #A34AFE;
}

.dropdown-content a:hover {
    background-color: #A34AFE;
    color: #ffffff
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.medewerkervak {
    width: 80%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.medewerkervak:focus {
    background-color: lightblue;
}

.opdrachtvak {
    width: 80%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.opdrachtvak:focus {
    background-color: lightblue;
}

#verklaring {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#verklaring:focus {
    background-color: lightblue;
}

.registerbtn {
  /*  color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;*/
    color: #666;
    padding: 14px 16px;
    min-width: 10%;
}

.registerbtn:hover {
    opacity: 1;
    background-color: #A34AFE;
    color: white;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}
 textarea {
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     display: block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;


 }



#useradd{
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=number] {
    height: 20px;
    width: 25%;
    padding: 2px 2px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number]:focus {
    background-color: lightblue;
}

#inlog {
    text-align: center;
}